@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    width: 100%;
}

body{
    margin: 0px;
}
/* navigation bar */
.Nav-bar{
    width: 100%;
}

#logoIcon{
    border-radius: 50%;
}

/* landing page */
    
.hero-background{
    width: 100%;
}

.hero-msg{
    /* grid-column-start: 3;
    grid-column-end: col4-start;
    grid-row-start: row1-end;
    grid-row-end: last-line; */
    text-align: center;
    height: 900px;
    padding: 10%;
    width: 75%;
    margin: auto;
}

#hero{
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    margin: 30px;
    letter-spacing: 1px;
}

/* Each kit */
#kit{
    padding: 5%;
    display: grid;
    /* grid-template-columns: [first] 40px [line2] 20% [line3] auto [col4-start] 20% [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line]; */
    grid-template-columns: 30% 20% 20% 10%;
    grid-template-rows: auto;
    
    grid-template-areas: 
    "header header header header"
    ". pic pic desc"
    "footer footer footer footer";
}

#kit h1{
    /* grid-column-start: 3;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: row1-start; */
    grid-area: header;
}

#pic{
    grid-area: pic;
    max-width: 400px;
    min-width: 300px;
    /* grid-column-start: 3;
    grid-column-end: col4-start; */
}

/* Dynamic modal popup */
.modal-image{
    width: 100px;
}

.home-card-content{
    margin: 10px;
    display: flex;
    float: left;
}


/* Arrow down button */


.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
    width: 30px;
    padding: 15% 0;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}